<template>
  <div class="chart-wrapper">
    <Line
    :chart-options="lineChart.chartOptions"
    :chart-data="lineChart.chartData"
    :chart-id="chartId"
    :dataset-id-key="datasetIdKey"
    :plugins="plugins"
    :css-classes="cssClasses"
    :styles="styles"
    :width="width"
    :height="height"
  />
    <label class="msg-instruction" for="myChart">Tezinu unesite jednom u 7 dana, da biste dobili sto tacnije podatke.</label>
  </div>
</template>

<script>
import checkSession from '../JS/checkSession.js'
import axios from 'axios'
import { mapState } from 'vuex'
import { Line } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, LineElement, CategoryScale, LinearScale,PointElement,plugins} from 'chart.js'
ChartJS.register(Title, Tooltip, Legend, LineElement, CategoryScale, LinearScale,PointElement,plugins)

export default {
    components:{
        Line
    },
    props:{
        updateChart:{
            type: Boolean
        },
        chartId: {
            type: String,
            default: 'line-chart'
        },
        datasetIdKey: {
            type: String,
            default: 'label'
        },
        width: {
            type: Number,
            default: 400
        },
        height: {
            type: Number,
            default: 400
        },
        cssClasses: {
            default: '',
            type: String
        },
        styles: {
            type: Object,
            default: () => {}
        },
        plugins: {
            type: Object,
            default: () => {}
        }
    },
    data:function(){
        return{
            lineChart:{
                chartData:{
                    labels:[],
                    datasets:[{
                       label: 'Tezina',
                       borderColor: 'lightsteelblue',
                       tension: 0.4,
                       fill:true,
                       data:[]
                    }]
                },
                chartOptions: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            }
        }
    },
    methods:{
        async getUserWeights(){
            let userDetail=await checkSession()
            if(userDetail){
                try {
                    let userWeights=await axios.post(this.BASE_URL+"/kalorisum/api/user/weights",{
                    "usr_id":userDetail.data.res.id
                })
                this.lineChart.chartData.labels=this.extractArray(userWeights.data.date,"number")
                this.lineChart.chartData.datasets[0].data=this.extractArray(userWeights.data.weights,"number")
                } catch (error) {
                    console.log(error)
                }
            }
        },
        extractArray(oldArray,key){
            let array=[]
            for(let i=0;i<oldArray.length;i++){
                array.push(oldArray[i][key])
            }
            return array
        }
    },
    mounted(){
        this.getUserWeights()
    },
    watch:{
        updateChart(newStatus){
            if(!newStatus || newStatus){
                this.getUserWeights()
            }
        }
    },
    computed:{
        ...mapState(["BASE_URL"])
    }
}    
</script>

<style>
.chart-wrapper{
    width: 90%;
}
@media screen and (min-width:768px){
    .chart-wrapper{
        width: 50%;
    }
}
</style>